name: CI Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  ci:
    name: CI
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        features:
          - full #This will test all the LLM Providers

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake libasound2-dev pkg-config protobuf-compiler

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview,rustfmt,clippy

      - name: Run fmt
        run: cargo fmt -- --check

      - name: Run clippy
        run: |
          if [ -z "${{ matrix.features }}" ]; then
            cargo clippy --workspace --all-targets --no-default-features -- -D warnings
          else
            cargo clippy --workspace --all-targets --features "${{ matrix.features }}" -- -D warnings
          fi

      - name: Run tests
        run: |
          if [ -z "${{ matrix.features }}" ]; then
            cargo test --features default --workspace --exclude autoagents-mistral-rs
          else
            cargo test --workspace --features "${{ matrix.features }}" --exclude autoagents-mistral-rs
          fi

      - name: Run cargo check
        run: cargo check --all-targets --no-default-features

  multi_os:
    name: Multi-OS build
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Install Linux deps
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libasound2-dev protobuf-compiler

      - name: Install macOS deps
        if: matrix.os == 'macos-latest'
        run: |
          brew update
          brew install protobuf

      - name: Install Windows deps
        if: matrix.os == 'windows-latest'
        run: choco install protoc -y

      - name: Build Workspace
        run: cargo build --workspace --release
